<h2 mat-dialog-title>Access your profile</h2>
<div><mat-error *ngIf="errmsg">{{errmsg}}</mat-error></div>
<mat-dialog-content>
  <form [formGroup]="loginform" class="login-container">
  <mat-form-field  appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" placeholder="example@gmail.com">
    <mat-error *ngIf="loginform.get('email').hasError('required')">
      email is required
    </mat-error>
    <mat-error *ngIf="loginform.get('email').hasError('email')">
        Please enter valid email id
    </mat-error>
  </mat-form-field>
  <mat-form-field  appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput [type]=" showpassword ? 'text' : 'password'" formControlName="password">
    <button type="button" *ngIf="!showpassword" matSuffix mat-icon-button aria-label="icon-button with a Eye off icon" (click)="showpassword=!showpassword;">
      <mat-icon>visibility_off</mat-icon>
  </button>
  <button type="button" *ngIf="showpassword" matSuffix mat-icon-button aria-label="icon-button with a Eye icon" (click)="showpassword=!showpassword">
      <mat-icon>visibility</mat-icon>
  </button>
    <mat-error *ngIf="loginform.get('password').hasError('required')">
      password is required
    </mat-error>
  </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button color="warn" mat-dialog-close>Cancel</button>
  <button mat-flat-button [disabled]="!loginform.valid" (click)="login()" color="primary">GO!!</button>
</mat-dialog-actions>
