/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.blue-snackbar {
  background: #0d47a1 !important;
}

.green-snackbar {
  background: #007E33 !important;
}

.red-snackbar {
  background: #bb0000 !important;
}
